[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
pre-commit = "*"
pytest-invenio = "*"
pytest-mypy = "*"

[packages]
ic-data-repo = {editable=true, path="./site"}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
# Avoid sqlalchemy-continuum==1.4.0 due to compatibility issue described here:
# https://github.com/kvesteri/sqlalchemy-continuum/issues/351
sqlalchemy-continuum = "!=1.4.0"
invenio-app-rdm = {extras = ["opensearch2"], version = "~=12.0.0rc2"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
